<section class="bg-gray-200 min-h-screen mt-0 px-8 lg:px-5 py-10">
  <%=render "shared/navbar"%>
  <div class="max-w-6xl mx-auto">
    <turbo-frame id="groups">
      <%= render "groups/groups", groups: @groups %>
    </turbo-frame>
  </div>
  <turbo-frame id="modal"></turbo-frame>
</section>