<li class="bg-white rounded shadow p-4 flex justify-between items-center">
  <div>
    <p class="font-bold text-lg"><%= group.name %></p>
    <p class="font-bold text-lg"><%= group.icon %></p>
  </div>
</li>