<div id="groups">
  <% if groups.any? %>
          <ul class="space-y-2">
            <% groups.each do |group| %>
              <%= render "groups/group", group: group %>
            <% end %>
          </ul>
        <% else %>
          <p class="text-gray-500 font-bold text-xl tracking-tighter opacity-90 py-5">No categories added yet! Add one below...</p>
          <ul id="groups" class="space-y-2"></ul>
  <% end %>
</div>