<li class="bg-gray-100 border-b border-gray-300 rounded p-4 flex justify-between items-center">
  <p class="md:text-lg"><%= operation.name %></p>
  <p class="md:text-lg">$<%= operation.amount %></p>
</li>